img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 100%;
}

body {
  font-family: Helvetica, sans-serif;
}

@font-face {
  font-family: "flood";
  font-stretch: condensed;
  src: url("./assests/fonts/Flood.ttf");
}

/* nav-bar section */

.nav-bar {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8rem;
}

.logo {
  width: 11%;
  height: 3.938rem;
  text-align: left;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: 0;
  color: #354463;
  opacity: 1;
  text-decoration: none;
}

.donate {
  height: 2.5rem;
  width: 10rem;
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: 0;
  color: #354463;
  opacity: 1;
  text-decoration: none;
  border-radius: 6.25rem;
  background: #c1f7d5 0% 0% no-repeat padding-box;
  box-shadow: none;
  padding-top: 1%;
}

.nav-menu {
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.menu-formatting {
  text-align: left;
  font-size: 16px;
  font-weight: lighter;
  color: #354463;
  opacity: 1;
  text-decoration: none;
}

/* issue section */

.the-issue {
  z-index: 1;
  padding: 1%;
  position: relative;
  top: 24%;
  left: 54%;
  width: 10rem;
  height: auto;
  text-align: center;
  font-size: 14px;
  background: #354463 0% 0% no-repeat padding-box;
  letter-spacing: 0.56px;
  color: #ffffff;
  opacity: 1;
}

.climate {
  font-family: "Flood";
  line-height: 70px;
  font-size: 72px;
  width: 2vw;
  height: auto;
  color: white;
  position: absolute;
  left: 15%;
  top: 15%;
}

.statement {
  position: absolute;
  left: 51%;
  top: 31%;
  background: white;
  width: 25vw;
  height: auto;
  padding: 3%;
  text-align: left;
  font: Bold 28px/36px Helvetica;
  letter-spacing: 0;
  color: #354463;
  opacity: 1;
}

.issue {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.issue-section {
  background-image: url("./assests/about-us/annie-spratt-427339-unsplash.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
}

/* our-things section */

.our-things {
  height: 66rem;
  background: #354463 0% 0% no-repeat padding-box;
  opacity: 1;
}

.our-things-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 4fr;
  justify-items: center;
  align-items: center;
  grid-row-gap: 4%;
}

.punch-statement {
  text-align: left;
  font: Bold 44px/56px Helvetica;
  letter-spacing: 0;
  color: #ffffff;
  opacity: 1;
  width: 75%;
}

.what-we-do {
  text-align: center;
  height: auto;
  background: white;
  width: 10rem;
  padding: 1%;
  position: relative;
  left: 12.5%;
  align-self: last baseline;
  justify-self: left;
}

.actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  width: 75%;
  height: 92%;
}

.action {
  text-align: left;
  font: Bold 28px/36px Helvetica;
  letter-spacing: 0;
  color: #ffffff;
  opacity: 1;
  width: 21%;
}

.action-desc {
  text-align: left;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: -0.16px;
  color: #ffffff;
  opacity: 1;
}

/* our-team section */

.our-team {
  text-align: center;
  font-size: 14px;
  height: auto;
  letter-spacing: 0.56px;
  color: #ffffff;
  opacity: 1;
  background: #354463 0% 0% no-repeat padding-box;
  position: relative;
  top: 6rem;
  width: 10rem;
  left: 10rem;
  padding: 1%;
}

.meet-team {
  text-align: left;
  font: bold 44px/56px Helvetica;
  letter-spacing: 0;
  color: #354463;
  opacity: 1;
  justify-self: center;
  align-self: center;
  width: 66%;
}

.team-stats {
  text-align: left;
  font-size: 20px;
  letter-spacing: -0.4px;
  color: #354463;
  opacity: 1;
  width: 50%;
}

.the-team-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  justify-items: center;
  align-items: center;
}

.photo-section {
  grid-row: 2;
  grid-column: 1/3;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 70%;
  height: 110%;
}

.photo-tag {
  background: #354463;
  opacity: 1;
  text-align: left;
  font-size: 14px;
  font-weight: lighter;
  padding: 5%;
  letter-spacing: -0.16px;
  color: #ffffff;
  z-index: 1;
  position: relative;
  left: 11%;
  top: -9%;
}

/* our impact section */

.the-impact {
  height: 41.875rem;
  background: transparent url("./assests/about-us/Impact\ Background.png") 0% 0%
    no-repeat padding-box;
  /* opacity: 0.2; */
  background-color: #354463;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.our-impact {
  text-align: center;
  width: 10rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  height: auto;
  padding: 1%;
}

.impact-statement {
  text-align: center;
  font: bold 44px/56px Helvetica;
  letter-spacing: 0;
  color: #ffffff;
  opacity: 1;
  width: 50%;
}

.impact-facts {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 90%;
}

.fact {
  text-align: center;
  font-size: 72px;
  line-height: 70px;
  font-family: "flood";
  letter-spacing: 0;
  color: #ffffff;
  opacity: 1;
  width: 25%;
  height: auto;
}

.fact-desc {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  font-family: Helvetica;
  line-height: 2.5rem;
}

/* lets acts section */

.lets-act {
  background: #354463;
  height: 85rem;
  overflow-x: scroll;
}

.lets-act-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 22rem;
}

.lets-act-statement {
  text-align: left;
  letter-spacing: 0;
  color: #ffffff;
  font-size: 72px;
  font-family: "flood";
  width: 44%;
  line-height: 70px;
}

.lets-act-arrow {
  background: #c1f7d5;
  border-radius: 100%;
  padding: 50%;
  border: 3px solid #354463;
}

.lets-act-container {
  display: flex;
  flex-direction: row;
  width: 120%;
  justify-content: space-around;
  /* overflow: scroll; */
  /* white-space: nowrap; */
}

.lets-act-flex{
  position: relative;
  left:7%;
}

.lets-act-img{
  width: 90%;
}

.lets-act-year {
  text-align: center;
  width: 10rem;
  height: auto;
  padding: 1%;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
  z-index: 1;
  top: 2%;
left: 7%;
}

.lets-act-text{
  background: #ffffff 0% 0% no-repeat padding-box;
  width: 90%;
height: auto;
}

.lets-act-item{
  text-align: left;
  font-size:28px;
  font-weight: bold;
letter-spacing: 0;
color: #354463;
opacity: 1;
height: 16rem;
padding:5%;
}

.lets-act-item-desc{
  font-size: 20px;
  font-weight: normal;
  text-align: left;
  padding-top: 7%;
}

.lets-act-btn{
  letter-spacing: 0;
color: #354463;
opacity: 1;
text-align: center;
font: Bold 1.125rem/22px Helvetica;
background: #C1F7D5 0% 0% no-repeat padding-box;
border-radius: 6.25rem;
height: auto;
width:10rem;
padding: 3%;
position: relative;
top: -2rem;
left: 11%;
}

/* newsletter section */

.newsletter {
  height: 13rem;
  background: #c1f7d5 0% 0% no-repeat padding-box;
  opacity: 1;

  grid-template-columns: 2fr 1fr 1fr;
  display: grid;
  align-items: center;
}

.subscribe-news-letter {
  justify-self: center;
  text-align: left;
  font: Bold 28px/36px Helvetica;
  letter-spacing: 0;
  color: #354463;
  opacity: 1;
  width: 72%;
  height: 41%;
}

.email {
  background: white;
  border-radius: 6.25rem;
  width: 22rem;
  height: 3rem;
  border: 0px;
  text-align: center;
}

.subscribe {
  width: 10rem;
  height: 3rem;
  border: 1px;
  border-radius: 6.25rem;
  background: #354463;
  text-align: center;
  font: Bold 1.125rem/22px Helvetica;
  letter-spacing: 0;
  color: #c1f7d5;
}

/* contact us section */

.green {
  width: 12rem;
  text-align: left;
  grid-column: 1;
  font: Bold 22px/28px Helvetica;
  letter-spacing: 0;
  color: #354463;
  opacity: 1;
}

.details-element {
  width: 12rem;
  height: auto;
  text-align: left;
  font: Regular 14px/17px Helvetica;
  letter-spacing: 0.56px;
  color: #354463;
  opacity: 1;
}

.details-item {
  text-align: left;
  font: Light 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
}

.details-slogan {
  grid-column: 5;
  text-align: left;
  font-family: "flood";
  color: #354463;
  font-size: 44px;
  width: 11.313rem;
  height: auto;
  line-height: 2.5rem;
}

.details {
  margin: auto;
  padding: 5%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
