img {
    max-width: 100%;
    height: auto;
  }
  
  html {
    font-size: 100%;
  }
  
  body {
    font-family: Helvetica, sans-serif;
  }
  
  @font-face {
    font-family: "flood";
    font-stretch: condensed;
    src: url("../assests/fonts/Flood.ttf");
  }

  input[type="number"] {
    -moz-appearance: textfield;
  } 


  @media (min-width:768px) and (max-width:992px){

    .main-section {
      background-image: url("../assests/donation/annie-spratt-427340-unsplash.png");
      background-color: #354463;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      align-items: center;
      height: 85rem;
    }
  
    .form-donate {
      background-color: #354463;
      line-height: 3rem;
      padding: 5%;
      width: 75%;
      /* position: relative;
      left: -3%; */
    }
  
    .form-heads,
    .form-footer {
      text-align: left;
      font: Bold 28px/36px Helvetica;
      letter-spacing: 0;
      color: #ffffff;
      opacity: 1;
    }
  
    .line-1,
    .line-3,
    .line-6 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    /* .line-2,.line-4,.line-5{
      width: 100%;
    } */
  
    .form-tags {
      text-align: left;
      font: Regular 14px/17px Helvetica;
      letter-spacing: 0.56px;
      color: #ffffff;
      opacity: 1;
      width: 90%;
      height: 0%;
    }
  
    .form-dropdown {
      text-align: left;
      font: Light 20px/32px Helvetica;
      letter-spacing: -0.4px;
      color: #ffffff;
      /* opacity: 0.2; */
      background-color: #354463;
      border: none;
      height: auto;
      border-bottom: 2px solid #c1f7d5;
    }
  
    .form-submit-fn {
      text-align: left;
      font: Light 20px/32px Helvetica;
      letter-spacing: -0.4px;
      color: #ffffff;
      /* opacity: 0.2; */
      background-color: #354463;
      border: none;
      height: auto;
      border-bottom: 2px solid #c1f7d5;
      width: 100%;
    }
  
    .form-submit-ln {
      text-align: left;
      font: Light 20px/32px Helvetica;
      letter-spacing: -0.4px;
      color: #ffffff;
      /* opacity: 0.2; */
      background-color: #354463;
      border: none;
      height: auto;
      border-bottom: 2px solid #c1f7d5;
      width: 100%;
    }
  
    .form-submit-ad {
      text-align: left;
      font: Light 20px/32px Helvetica;
      letter-spacing: -0.4px;
      color: #ffffff;
      /* opacity: 0.2; */
      background-color: #354463;
      border: none;
      height: auto;
      border-bottom: 2px solid #c1f7d5;
      width: 100%;
    }
  
    .form-submit-ct {
      text-align: left;
      font: Light 20px/32px Helvetica;
      letter-spacing: -0.4px;
      color: #ffffff;
      /* opacity: 0.2; */
      background-color: #354463;
      border: none;
      height: auto;
      border-bottom: 2px solid #c1f7d5;
      width: 80%;
    }
  
    .form-submit-zp {
      text-align: left;
      font: Light 20px/32px Helvetica;
      letter-spacing: -0.4px;
      color: #ffffff;
      /* opacity: 0.2; */
      background-color: #354463;
      border: none;
      height: auto;
      border-bottom: 2px solid #c1f7d5;
      width: 40%;
      /* justify-self: flex-end; */
    }
  
    .form-submit-em {
      text-align: left;
      font: Light 20px/32px Helvetica;
      letter-spacing: -0.4px;
      color: #ffffff;
      /* opacity: 0.2; */
      background-color: #354463;
      border: none;
      height: auto;
      border-bottom: 2px solid #c1f7d5;
      width: 100%;
    }
  
    .form-submit-cn {
      text-align: left;
      font: Light 20px/32px Helvetica;
      letter-spacing: -0.4px;
      color: #ffffff;
      /* opacity: 0.2; */
      background-color: #354463;
      border: none;
      height: auto;
      border-bottom: 2px solid #c1f7d5;
      width: 100%;
    }
  
    .form-submit-mm {
      text-align: left;
      font: Light 20px/32px Helvetica;
      letter-spacing: -0.4px;
      color: #ffffff;
      /* opacity: 0.2; */
      background-color: #354463;
      border: none;
      height: auto;
      border-bottom: 2px solid #c1f7d5;
      width: 15%;
    }
  
    .form-submit-yy {
      text-align: left;
      font: Light 20px/32px Helvetica;
      letter-spacing: -0.4px;
      color: #ffffff;
      /* opacity: 0.2; */
      background-color: #354463;
      border: none;
      height: auto;
      border-bottom: 2px solid #c1f7d5;
      width: 30%;
    }
  
    .mmyy {
      display: flex;
      justify-content: space-between;
      width: 80%;
    }
  
    .form-submit-cv {
      text-align: left;
      font: Light 20px/32px Helvetica;
      letter-spacing: -0.4px;
      color: #ffffff;
      /* opacity: 0.2; */
      background-color: #354463;
      border: none;
      height: auto;
      border-bottom: 2px solid #c1f7d5;
      width: 50%;
    }
  
    .return-home {
      text-align: left;
      text-decoration: underline;
      font: Light 16px/56px Helvetica;
      letter-spacing: -0.16px;
      color: #c1f7d5;
      opacity: 1;
    }
  
    .form-submit-btn {
      background: #c1f7d5 0% 0% no-repeat padding-box;
      border-radius: 100px;
      opacity: 1;
      text-align: center;
      font: Bold 22px/28px Helvetica;
      letter-spacing: 0;
      color: #354463;
      padding: 2%;
      border: none;
    }
  
    .footing {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  
    .give-hope {
      text-align: center;
      font-size:44px;
      line-height: 46px;
      font-family: "flood";
      letter-spacing: 0;
      color: #ffffff;
      opacity: 1;
      width: 75%;
      /* position: relative;
      top: -34%; */
    }

 }